body{
    background: #333;
    color: #fff;
}
.navbar{
    border-bottom:3px solid #008ed6;
    opacity: 0.7;
}
.navbar-item a{
    color: #fff;
}
.nav-item a{
    color: rgb(170, 166, 166);
}
#home{
    background: url(img/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 670px;
    background-attachment: fixed;
}
#home .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 670px;
    background: rgba(0, 0, 0, 0.7);
  }
  #home .home-inner {
    padding-top: 150px;
  }

  #home .card-form {
    opacity: 0.8;
  }
  .wh{
    color: #fff;
}
#home .fas,
#create-section .fas {
  color: #008ed6;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

#explore-section .fas,
#share-section .fas {
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}